* {
  font-family: "Roboto";
}

// home page
.main {
  .carousel {
    height: 100%;
  }
  img {
    height: 600px;
  }
  .test {
    color: red;
  }
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/preloader.gif");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  z-index: 999999;
}

h1 {
  font-size: 23px;
}
.main {
  height: 100%;
}

.footers {
  height: auto;
  background: #3d3d3d;
  .row {
    color: white;
  }
  .col {
    display: flex;
    flex-direction: column;
  }

  .list-group .list-group-item {
    background: transparent;
    padding: 5px 0px;
    border: none;
    color: rgb(209, 209, 209);
  }
  .list-group-item:hover {
    color: white;
  }
  p {
    color: rgb(209, 209, 209);
  }
  .bi {
    font-size: 23px;
    padding: 0px 5px;
    color: rgb(182, 182, 185);
    cursor: pointer;
    transition: 0.5s;
  }
  .bi:hover {
    color: white;
    font-size: 18px;
  }
}

.copyright {
  background: grey;
  display: flex;
  color: white;
  justify-content: center;
  a {
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: rgb(161, 161, 161);
  }
}

// login page
.login_form {
  background: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logins {
  height: 100vh;
  display: flex;
  align-items: center;
  .card {
    width: 450px;
  }

  input {
    outline: none;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-bottom: 2px solid grey;
    border-radius: 0px;
    padding: 10px 0px;
  }
  input:focus {
    background-color: transparent;
    color: green;
    outline: none;
    border: none;
    box-shadow: none;
  }
  .icon {
    font-size: 64px;
    // color: grey;
  }

  ::placeholder {
    color: rgb(110, 110, 110);
  }
  button {
    margin: 0px auto;
  }
}

// Register page
.login_form {
  .error_box {
    display: flex;
    justify-content: center;
  }
  .error_text {
    display: none;
    color: white;
    background: red;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    border-radius: 20px;
  }
}
